{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block body %}

<div class="d-flex mt-4">
    <div class="card m-auto p-4 text-center text-justify" style="width: 900px;">
        <h1 class="text-secondary">About Us</h1>
        <br>
        <hr>
        <br>
        <p class="lead">
            The information on the web is increasing day by day and with the help of cheap internet services, a
            large
            number of consumers are now relying on ecommerce sites for their daily needs.
            With the development in
            technology, we
            have seen a huge rise in popularity of web applications and a lot of people are now relying on these
            applications to buy
            their daily needs. But due to this rise, we have witnessed a lot of reviews on a product and for an
            individual it is
            difficult to go through all these reviews and identify whether the product is good or not.
            There is no site that focuses on sentiments related to a review, though they use ratings, sometimes this
            ratings are subjective.
            <br>
            <br>
        <p class="lead fw-light fst-italic">
            Our project focuses mainly on user-reviews and pricing of that product<br>so that the
            end user can
            benefit from it and make the right choice.
        </p>

        </p>

    </div>
</div>

{% endblock %}