{% extends 'base.html' %}

{% block title %}
Contact Us
{% endblock %}

{% block body %}

<div class="d-flex mt-4">
    <div class="card m-auto p-4 text-center text-justify" style="width: 900px;">
        <h1 class="text-secondary">Contact Us</h1>
        <br>
        <hr>
        <br>

        <br>
        <div class="d-flex">
            <div class="col-4">
                <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_kfcwv9hc.json"
                    background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay>
                </lottie-player>
            </div>
            <div class="col-8">
                <div class="row">

                    <div class="col">
                        <i class="fas fa-envelope-open-text fa-3x text-danger"></i>
                        <br><br>
                        madhavijoshi@gmail.com
                        <br>
                    </div>

                    <div class="col">
                        <i class="fas fa-phone fa-3x text-primary"></i>
                        <br><br>
                        +91 1234567890
                        <br>
                    </div>

                </div>
                <br><br>
                <p class="lead">
                <h2>We'd Love to Hear From You</h2>
                <p>
                    Whether you're curious about features, or any queries - we're ready to answer any and all questions.
                </p>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}