{% extends 'base.html' %}

{% block title %}
Search
{% endblock %}

{% block body %}

<form action="/insert-link" method="post">
    <div class="card backdrop-blur mt-4 m-auto p-4" style="width: 700px;">
        <h1>Search your Wish Product</h1>
        <br>
        <hr>
        <div class="">
            <label class="form-label" for="name">Amazon Product Name</label>
            <input name="name" type="text" id="name" class="form-control" placeholder="Enter product name here"
                required />
        </div>
        <br><br>
        <div class="">
            <label class="form-label" for="url">Amazon Product Link</label>
            <input name="url" type="url" id="url" class="form-control" placeholder="Enter product link here" required />
        </div>
        <br><br>

        <button type="submit" class="btn btn-primary">Search</button>

    </div>
</form>

{% endblock %}